<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    table {
        border: 1px solid #444444;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #444444;
    }
</style>
</head>

<body>
<h1> {{login_id}}의 정보 </h1>
<p>서버 접속시간 : {{now.year}}년 {{now.month}}월 {{now.day}}일 {{now.hour}}시 {{now.minute}}분 {{now.second}}초</p>
<p>아이디 = <a id="login_id"> </a></p>
<p>이름 = <a id="user_name"> </a></p>
<p>회사id = <a id="company_id"> </a></p>
<br>
<button id="modify_user"> 사용자 수정 </button>
<button id="delete_user" style="background-color:#f4cccc;"> 사용자 삭제 </button>
<button id="show_user"> 사용자 목록보기 </button>

<script>
    $(document).ready(function(){
        const login_id = "{{login_id}}"
        alert("데이터 전달 확인 : " + login_id);
        $.ajax({
            type:'GET',
            url:'/select/login_id?login_id=' + login_id,
            success:function(data){
                alert("detail_view 접속성공");
                const result = data.result;
                const get_login_id = result[0][0];
                const get_user_name = result[0][1];
                const get_company_id = result[0][2];
                $("#login_id").text(get_login_id);
                $("#user_name").text(get_user_name);
                $("#company_id").text(get_company_id);
            },
            error:function(){
                alert("detail_view 연결실패");
            }
        });  

        $("#modify_user").on("click", function() {
            $.ajax({
                type:'GET',
                url:'/user/list_view',
                success:function(data){
                    alert("update_view 연결성공");
                    window.location.href = '/user/update_view/' + login_id
                },
                error:function(){
                    alert("update_view 연결실패");
                }
            });
        });

        $("#delete_user").on("click", function() {
            $.ajax({
                type:'POST',
                url:'/delete',
                data: {
                    login_id : login_id
                },
                success:function(){
                    alert("사용자" + login_id + " : 삭제 성공");
                    window.location.href = '/user/list_view'
                },
                error:function(){
                    alert("사용자 삭제 실패");
                }
            });
        });

        $("#show_user").on("click", function() {
            $.ajax({
                type:'GET',
                url:'/user/list_view',
                success:function(){
                    alert("사용자 목록으로 돌아갑니다.");
                    window.location.href = '/user/list_view'
                },
                error:function(){
                    alert("사용자 불러오기 실패");
                }
            });
        });
    });
</script>
</body>
</html>