<!DOCTYPE html>
<html>
<head>
<!-- 외부스크립트는 헤드에 위치 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    table {
        border: 1px solid #444444;
        border-collapse: collapse;
      }
      th, td {
      border: 1px solid #444444;
    }
  </style>
</head>

<body>
<h1> 사용자 정보 추가 </h1>
<p>서버 접속시간 : {{y}}년 {{m}}월 {{d}}일 {{hour_result}}시 {{min}}분 {{sec}}초</p>
<p>아이디 : <input type="text" id="inputId"></p>
<p>이름 : <input type="text" id="inputName"></p>
<p>회사명 : <input type="text" id="inputCompany"></p>
<br>
<button> 사용자 저장 </button>


<script>
    // var key = "ajax_test";
    // document.getElementById("key").innerHTML = key;


    $(document).ready(function(){
        $("button").click(function(){
            const login_id = document.getElementById('inputId').value;
            const user_name = document.getElementById('inputName').value;
            const company_name = document.getElementById('inputCompany').value;

            $.ajax({
                type:'GET',
                url:'/insert?login_id=' + login_id + '&user_name=' + user_name + '&company_name=' + company_name,
                // url:'/read?login_id=&user_name=&company_name=',

                success:function(){
                    alert("insert 성공");
                    window.location.href = '/user/list_view'
                },

                error:function(){
                    alert("insert 실패");
                }
            });        
        });
    });
</script>
</body>
</html>